Assignment 1/Assignment 1.vcxproj.filters
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
Assignment 1/.vs/Assignment 1/v17/.suo
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db-shm
Assignment 1/.vs/Assignment 1/v17/Browse.VC.opendb
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db-wal
Assignment 1/.vs/Assignment 1/copilot-chat/9770858b/sessions/a825c4cd-d64a-47ea-92c6-c5181b312cae
Assignment 1/.vs/Assignment 1/FileContentIndex/a09ad54f-cc82-414b-b7f2-8c9794cd80c3.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/a3b80a5b-91fa-4bbb-a8cc-aefcda63f7cf.vsidx
Assignment 1/Assignment 1.vcxproj
Assignment 1/Assignment 1.vcxproj.user
Assignment 1/Assignment 1.sln
Assignment 1/.vs/Assignment 1/copilot-chat/9770858b/sessions/683a78c9-a97c-4d67-8fe3-fc764579b4e1
Assignment 1/.vs/Assignment 1/FileContentIndex/075b3305-a441-4551-bc2d-b68b0457beea.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/78012d33-a40c-42aa-9260-21ec5e72f818.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/890b332f-e739-48eb-94d8-d447fc214375.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/9409faa8-4490-4e3f-89eb-f4f593163ca0.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/cb1383bd-acde-4025-a197-449090231195.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/12c392e6-2d25-434f-9cae-dd6fa61686af.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/bada9f86-0786-4af4-a7db-00f7bbd22984.vsidx
