Assignment 1/Assignment 1.vcxproj.filters
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
Assignment 1/.vs/Assignment 1/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
Assignment 1/.vs/Assignment 1/v17/.suo
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db-shm
Assignment 1/.vs/Assignment 1/v17/Browse.VC.opendb
Assignment 1/.vs/Assignment 1/v17/Browse.VC.db-wal
Assignment 1/.vs/Assignment 1/copilot-chat/9770858b/sessions/a825c4cd-d64a-47ea-92c6-c5181b312cae
Assignment 1/.vs/Assignment 1/FileContentIndex/a09ad54f-cc82-414b-b7f2-8c9794cd80c3.vsidx
Assignment 1/.vs/Assignment 1/FileContentIndex/a3b80a5b-91fa-4bbb-a8cc-aefcda63f7cf.vsidx
Assignment 1/Assignment 1.vcxproj
Assignment 1/Assignment 1.vcxproj.user
Assignment 1/Assignment 1.sln
